<div ng-controller="View1Ctrl as View1Attributes">
    <h1>{{View1Attributes.title}}</h1>



    <p>This is the partial for view 1.</p>
    <div>
        <h1>Search</h1>
        <input type="text" ng-model="View1Attributes.searchInput">
    </div>

    <p>{{View1Attributes.searchInput}}</p>

    <div>
        <h1>A list of TV shows</h1>
        <ul>
            <li data-ng-repeat="show in View1Attributes.shows | filter:View1Attributes.searchInput | orderBy: View1Attributes.order.key:View1Attributes.order.reverse "><span ng-if="show.favorite">X </span>{{show.title}} <span>{{show.year}}</span></li>
        </ul>
        <select data-ng-model="View1Attributes.order" ng-options="order as order.title for order in View1Attributes.orders"></select>
    </div>

    <div>
        <h3>Add a new TV show</h3>
        <form name="View1Attributes.addForm" ng-submit="View1Attributes.addShow()">
            <div>
                <label>Title</label>
                <input type="text" ng-model="View1Attributes.new.title" required/>
            </div>
            <div>
                <label>Year</label>
                <input type="text" min="1900" max="2030" ng-model="View1Attributes.new.year" required/>
            </div>
            <div>
                <div>
                    <label>Favorite: <input type="checkbox" ng-model="View1Attributes.new.favorite"/></label>
                </div>
                <div>
                    <button> <span></span>Add:</button>
                </div>
            </div>
        </form>
    </div>

</div>